@tailwind base;
@tailwind components;
@tailwind utilities;

  html {
    scroll-behavior: smooth;
  }

.prompt-thin {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .prompt-extralight {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .prompt-light {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .prompt-medium {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .prompt-semibold {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .prompt-bold {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .prompt-extrabold {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .prompt-black {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .prompt-thin-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .prompt-extralight-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .prompt-light-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .prompt-regular-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .prompt-medium-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .prompt-semibold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .prompt-bold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .prompt-extrabold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .prompt-black-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .bg-indigo-custom{
    background-color: #1f4167;
  }

  

  .border-red-900{
    border:3px solid red;
  }



  .width-80{
    width: 100%;
  }

  @media screen and (min-width:600px) {
    .vh-100{
      height: 100vh;
    }
  
    .vh-50{
      height: 50vh;
    }

    .width-80{
      width: 90%;
    }

    .h-service-photo{
      height: 400px;
      
    }

    .w-service-photo{
      width: 400px;
    }

    .h-98{
      height: 450px !important;
    }
  }

  
  label{
    display:flex;
    flex-direction:column;
    width:45px;
    cursor:pointer;
  }
  
  label span{
    background: #0b0b0b;
    border-radius:10px;
    height:3px;
    margin: 2px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
  }
  
  
  span:nth-of-type(1){
    width:40%;
    /* background-color: aqua; */
    
  }
  
  span:nth-of-type(2){
    width:75%;
    /* background-color: rgb(255, 153, 0); */
  }
  
  
  span:nth-of-type(3){
    width:55%;
    /* background-color: rgb(36, 195, 78); */
  }
  
  
  input[type="checkbox"]{
    display:none;
  }
  
  
  input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(3px,-1px)
  }
  
  
  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  
  
  input[type="checkbox"]:checked ~ span:nth-of-type(3){
    
    transform-origin:bottom;
    width:45%;
    transform: translate(12.5px,-3px) rotatez(45deg);
  
  }
  
